# OS
.DS_Store

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Notebooks checkpoints
.ipynb_checkpoints/

# Local data & results (can be regenerated)
data/
*.csv

# Editors
.vscode/
.idea/
